<h1>SCHEMES PROVIDED BY CENTRAL GOVERNMENT</h1>
<div>
  1
  National Food Security MissionNFSM</div><div>
  2
  NMAET(National Mission on Agricultural extension and Technology)</div><div>
  a
  SubMission on Agricultural Extension</div><div>
  b
  Sub Mission on Seeds and Planting material</div><div>
  c
  Sub Mission on Agricultural Mechanisation</div><div>
  3
  National Mission onOilseeds and Planting crops</div><div>
  4
  National Mission on Sustainable Agriculture</div><div>
  a
  Soil Health Card</div><div>
  b
  Soil Health Management</div><div>
  c
  Param Paragat Krishi Vikas Yojana</div><div>
  d
  Rainfed Area Development</div><div>
  5
  PradhanmaManthri Krishi Sinchai Yojana</div><div>
  6
  Rashtriya Krishi Vikas Yojana</div>