.h1{
    text-align: center;
    -webkit-text-fill-color: cornflowerblue
}
.card-counter{
    box-shadow: 2px 2px 10px #26c6da;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
    font-family: 'Righteous', cursive;
  }